@font-face
    font-family 'Roboto'
    font-style normal
    font-weight 300
    src local('Roboto'), local('Roboto-Light'), url(Roboto/Roboto-Light.woff) format('woff')

body
    font-family 'Roboto'
    margin 0
    background-color #444
    overflow hidden

header
    height 22px
    background-color #333
    -webkit-user-select none
    -webkit-app-region drag

#body
    &.timer-on
        #timer-form
            display none

        #timer
            height 100vh

            &.mac
                margin-top -20px

    #timer-form
        padding 10px
        display flex
        flex-direction column

	input
        margin-bottom 5px

    button
         display none

    input,
    button
        padding 7.5px
        border-radius 3px
        border none

        &:focus
            outline none

    #timer
        height 70%
        width 100vw

        display flex
        justify-content center
        align-items center

        font-size 5em
        color white

        &,
        > *
            margin 0
